body{
    font-family:'poppins',sans-serif;
    font-size: 1.8 rem;
    color: white;
}
section{
    background-color:#272525 ;
}
#navbar{
    display:flex;
    justify-content: flex-end;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:red;
    color:white;
  
}
#welcome-section{
    display:flex;
    justify-content: center;
    height:100vh;
    width:100%;
   
}
h1{
    display:block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}